<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tracking application</title>
  </head>
  <body>
    <div class="content">
      <h1><a href='/'>Tracking application</a></h1><br>