* {
    box-sizing: border-box;   
}

.content {
    margin: 30px;
}

.content * {
    margin: auto;
    padding: 10px;
}

body {
    background-image: linear-gradient(to right bottom, #7d00c0, #5c0aa5, #3e0c8a, #210a6e, #020552);
    background-color: #020552;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Lexend Deca', sans-serif;
    color: #ffffff;
    line-height: 120%;
}

a:link, a:visited {
    text-decoration: none;
    color: #6fa2ff;
    letter-spacing: 3px;
}

a:hover, a:active {
    color: #2e76ff;
    transition: 0.5s ease-in;
}

form *, .medium form *, .narrow form * {
    margin: 10px 0px;
    width: 100%;
}

input[type=number], input[type=email],
input[type=password], input[type=date],
input[type=month], input[type=week] {
    font-family: inherit;
    color: rgb(58, 58, 58);
    padding:10px;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50px;
}

input[type=number]:focus, input[type=email]:focus,
input[type=password]:focus, input[type=date]:focus,
input[type=month]:focus, input[type=week]:focus {
    border: 3px solid #2e76ff;
    outline: 0;
}

input[type=submit] {
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 13px;
    background-color: #6fa2ff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2e76ff;
    transition: 0.5s ease-in;
}

input[type=submit]:focus, #buttonStyle2:focus {
    outline: 0;
}

#buttonStyle2 {
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2e76ff;
    padding: 10px;
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid #2e76ff;
    cursor: pointer;
}

#buttonStyle2:hover {
    background-color: #2e76ff;
    color: #ffffff;
    transition: 0.5s ease-in;
}

.medium {
    max-width: 700px;
}

.narrow {
    max-width: 460px;
}

.logout p {
    padding-top: 5px;
    padding-right: 20px;
}

.logout form {
    width: 150px;
}

.logout {
    display: flex;
    float: right;
}

.summary h1 {
    margin: auto;
}

.summaryItem form {
    display: flex;
}

.summaryItem form input[type=submit] {
    max-width: 150px;
    margin: 0px 0px 0px 10px;
}

.summaryItem p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.summaryItem ul {
    list-style: none;
}

.summaryItem {
    flex: 0 25% 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    width: 500px;
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.summary {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.summaryPage {
    max-width: 1200px;
}